task_name	mode	status	note
ky-20260901-824	volc_or_local_af3_seed1	QUEUED	OVA073 Rosetta-polar ProteinMPNN shortlist shard0
ky-20260901-825	volc_or_local_af3_seed1	QUEUED	OVA073 Rosetta-polar ProteinMPNN shortlist shard1
ky-20260901-826	volc_or_local_af3_seed1	QUEUED	OVA073 Rosetta-polar ProteinMPNN shortlist shard2
ky-20260901-827	volc_or_local_af3_seed1	QUEUED	OVA073 Rosetta-polar ProteinMPNN shortlist shard3
ky-20260901-828	volc_or_local_af3_seed1	QUEUED	OVA073 Rosetta-polar ProteinMPNN shortlist shard4
ky-20260901-829	volc_or_local_af3_seed1	QUEUED	OVA073 Rosetta-polar ProteinMPNN shortlist shard5
ky-20260901-830	volc_or_local_af3_seed1	QUEUED	OVA073 Rosetta-polar ProteinMPNN shortlist shard6
ky-20260901-831	volc_or_local_af3_seed1	QUEUED	OVA073 Rosetta-polar ProteinMPNN shortlist shard7
